<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

    <p th:text = "${book.getTitle() + ', ' + book.getAuthorName() + ', ' + book.getYearOfWriting()}">VALUE</p>
    <div th:if = "${book.getOwner() == null}">
        <p th:text = "${'Эта книга свободна. Кому назначить ее?'}">VALUE</p>
        <form th:method = "PATCH" th:action = "@{/books/selectOwner{id} (id=${book.getId()})}">
            <label for ="person">Выберите человека: </label>
            <select id= "person" th:field="*{id}" th:object="${person}">
                <option th:each = "person : ${people}" th:value = "${person.getId()}"
                th:text = "${person.getFullName()}">Person name</option>
            </select>
            <input type = "submit" value="Назначить книгу"/>
        </form>
    </div>
    <div th:if = "${book.getOwner() != null}">
        <p th:text = "${'Книга сейчас у: ' + book.getOwner().getFullName()}">VALUE</p>
        <form th:method = "DELETE" th:action = "@{/books/releaseOwner{id} (id=${book.getId()})}">
            <input type="submit" value="Освободить книгу"/>
        </form>
    </div>
    <hr/>
    <form th:method = "GET" th:action = "@{/books/{id}/edit (id=${book.getId()})}">
        <input type="submit" value="Редактировать"/>
    </form>
    <br/>
    <form th:method="DELETE" th:action="@{/books/{id} (id=${book.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
</body>
</html>